body {
    margin: 0px;
    font-family: 'montserrat', sans-serif;
    color: #1A1B1A;
    background-image: url("../img/chicas-playa.jpg");
    background-size: cover;
    font-weight: 100px;
}

h1 {
    font-family: 'syncopate', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  margin-bottom: 3px;
}
h1,
.h1 {
  font-size: 32px;
}

h2,
.h2 {
  font-size: 28px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

button,
.btn {
    margin: 5px;
    padding: 10px;
    border: 0px;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    display: inline-block;
    background-color: #DAA034;
    color: #F0F0F0;
    text-decoration: none;
}

.btn {
    cursor: pointer;
}

button:hover, 
.btn:hover {
    background-color: #D3B495;
}
.btn-secondary {
    background-color: #728689;
}
.btn-secondary:hover {
    background-color: #B4B7C3;
}

.link {
    padding: 7px;
    color: #DAA034;
    font-weight: 400;
}

.link-visited:visited {
    color: #728689;
}

.link:hover {
    color:#AF8E6A;
}

/* Colores */
.box-color-sand {
    background-color: #AF8E6A;
}
.box-color-greenblue {
    background-color: #728689;
}
.box-color-mustard {
    background-color: #DAA034;
}
.box-color-grayblue {
    background-color: #B4B7C3;
}
.box-color-cream {
    background-color: #E7DFDD;
}
.box-color-darkgrey {
    background-color: #1A1B1A;
}
.box-color-lightsand {
    background-color: #D3B495;
}
.box-color-grey {
    background-color: #454445;
}
.box-color-grey-2 {
    background-color: #7E7E7E;
}
.box-color-grey-3 {
    background-color: #CFCFCE;
}
.box-color-grey-4 {
    background-color: #F0F0F0;
}

/* Estilos de elementos solo de esta página */
.pattern-container {
    max-width: 800px;
    padding: 16px;
    margin: 16px auto;
    margin-top: 60px;
    background-color: #F0F0F0;
    border-radius: 12px;
}

.pattern-section {
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 16px;
    border: 1px solid #1A1B1A;
    border-radius: 12px;
    background-color: #E7DFDD;
}

.pattern-title {
    border-bottom: 1px solid #454445;
    font-weight: 400;
}

.pattern-subtitle {
    font-size: 18px;
}

.pattern-color {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
}
.pattern-color:before {
    content: attr(data-color);
    background-color: rgba(0,0,0,0.2);
    display: block;
    color: white;
    text-align: center;
}

[data-header]:before {
    content: attr(data-header) ": ";
  }
